<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
   <display-name>Crawl Worker Servlet</display-name>
    <servlet>
     <servlet-name>worker</servlet-name>
     <servlet-class>com.myapp.worker.servlet.WorkerServlet</servlet-class> 
      <load-on-startup>0</load-on-startup>

         <init-param>
           <param-name>storagedir</param-name>
           <param-value>database</param-value>
         </init-param>

         <init-param>
           <param-name>master</param-name>
           <param-value>jasoncrawlermaster.elasticbeanstalk.com</param-value>
         </init-param>
         
          <init-param>
 			<param-name>port</param-name>
			 <param-value>8080</param-value>
		</init-param>
   </servlet>
    
   <servlet-mapping>
     <servlet-name>worker</servlet-name>
     <url-pattern>/runcrawl</url-pattern>
   </servlet-mapping>  
 
   <servlet-mapping>
     <servlet-name>worker</servlet-name>
     <url-pattern>/pushurl</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>worker</servlet-name>
     <url-pattern>/status</url-pattern>
   </servlet-mapping>  
   
   <servlet-mapping>
     <servlet-name>worker</servlet-name>
     <url-pattern>/test_crawler</url-pattern>
   </servlet-mapping>  
   
    <servlet-mapping>
     <servlet-name>worker</servlet-name>
     <url-pattern>/push_url_batch</url-pattern>
   </servlet-mapping>  

   <!-- add any additional servlets and servlet mappings here -->
</web-app>
